---
---

@import "{{ site.theme }}";

h1 a {
    color: inherit;
    text-shadow: none;
    text-decoration: none;
}

header h1::before {
    content: none;
}

h1 img {
    vertical-align: text-bottom;
    margin-right: 8px;
}
